<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
    body{
      padding: 20px 0;
    }
    .panel{
      height: 200px;
      border: 1px solid #ccc;
    }
    </style>
  </head>
  <body>
    
    <div id="app" class="container">
      <div class="panel" :style="{backgroundColor: panelColor}"></div>
      <div class="row mt-5">
        <div class="col-4">
          <label for="red">Red</label>
          <input type="range" class="custom-range" min="0" max="255" step="0.5" id="red" v-model="red">
          <input type="number" class="form-control" v-model="red">
        </div>
        <div class="col-4">
          <label for="green">Green</label>
          <input type="range" class="custom-range" min="0" max="255" step="0.5" id="green" v-model="green">
          <input type="number" class="form-control" v-model="green">
        </div>
        <div class="col-4">
          <label for="blue">Blue</label>
          <input type="range" class="custom-range" min="0" max="255" step="0.5" id="blue" v-model="blue">
          <input type="number" class="form-control" v-model="blue">
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      let app = new Vue({
        el:"#app",
        data:{
          red:0,
          green:0,
          blue:0
        },
        computed:{
          panelColor:function(){
            return `rgba(${this.red},${this.green},${this.blue})`;
          }
        }
      })
    </script>
  </body>
</html>